.body {
  background-color: #FAFAFA;
}

.main > section:not(:first-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1260px) {
  .main > section:not(:first-child) {
    margin-bottom: 80px;
  }
}

.container {
  box-sizing: border-box;
  padding: 0 9px;
}

.container--navigation {
  padding: 0;
}

@media screen and (min-width: 1260px) {
  .container {
    padding: 0 50px;
  } 
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
  } 
}