.swiper {
  width: 100%;
  position: relative;
}

.swiper-table {
  overflow: hidden;
}

.swiper-wrapper {
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}
.swiper-slide {
  display: block;
  width: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.swiper-slide--table {
  min-width: 100%;
} 

.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}

.swiper-bg-scroll {
  height: 13px;
  background-color: #FAFAFA;
}

.swiper-scrollbar {
  margin: 0 6px;
  padding: 0;
  box-sizing: border-box;
  max-height: 3px;
  background-color: transparent;
  position: absolute;
  top: 120px;
}

.swiper-scrollbar-table {
  margin: 0 6px;
  padding: 0;
  box-sizing: border-box;
  max-height: 3px;
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
}

.swiper-scrollbar-drag {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 3px;
  background-color: #D9D9D9;
}

@media screen and (min-width: 1260px) {
  .swiper-wrapper {
    justify-content: space-between;
    gap: 0;
  }

  .swiper-horizontal {
  }

  .swiper-scrollbar,
  .swiper-bg-scroll {
    display: none;
  }
}
