.title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-xxxl);
  line-height: 23px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}

.title--inverse {
  color: #fff;
  background-color: linear-gradient(90.21deg, #292929 15.28%, #000000 94.83%);
}

@media screen and (min-width: 1260px) {
  .title {
    font-size: 32px;
    line-height: 38px;
  }
}