@import url(./swiper-photo.style.css);

.photo-of-match {
  margin: 0 10px;
}

.photo-of-match__title {
  margin-bottom: 10px;
}


@media screen and (min-width: 1260px) {
  .photo-of-match {
    margin: 40px 40px;
  }

  .photo-of-match__title {
    margin-bottom: 23px;
  }
}

