.navigation {
  background-color: #fff;
}

.navigation__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.navigation__item {
}

.navigation__item > a {
  min-width: 60px;
  display: inline-block;
  box-sizing: border-box;
  padding: 9px 10px;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  color: #0B0B0BB2;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.navigation__item > a:hover {
  color: #fff;
  background-color: #0B0B0B;
}

.navigation__button-broadcast {
  margin-left: 20px;
  background-color: #fff;
  border-radius: 15px;
  height: 30px;
  border: 1px solid #0B0B0B;
}

.navigation__button-broadcast a {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #0B0B0B;
  position: relative;
  padding-left: 10px;
  white-space: nowrap; 
}

.navigation__button-broadcast a:before {
  content: '';
  position: absolute;
  display: block;
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 50%;
  top: calc(50% - 2.5px);
  left: 0;
}

@media screen and (min-width: 1260px) {
  .navigation__container {
    justify-content: center;
  }

  .navigation__item > a {
    font-size: 18px;
    line-height: 60px; 
    min-width: none;
    padding: 0 22px;
  }
}
