.selection-zone {
  margin: 0 10px;
}

.selection-zone__current {
  background: #55C95A;
  border-radius: var(--border-radius-l);
  padding: 30px 10px;
  margin: 0 auto;
  
}

.selection-zone__title {
  margin-bottom: 15px;
}

.selection-zone__players {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 15px;
}

.selection-zone__footer-title {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selection-zone__footer-title > img {
  height: 21px;
}

.selection-zone__footer-title > h3 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-s);
  line-height: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 560px) {
  .selection-zone__players {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: fit-content;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1260px) {
  .selection-zone {
    margin: 0 50px;
  }

  .selection-zone__current {
    padding: 50px;
    width: fit-content;
  }
}

@media screen and (min-width: 1440px) {
  .selection-zone {
    margin: 0 auto;
    max-width: 1440px;  
  }
}