@import url('../../style/variables.style.css');

.match {
  background-color: #fff;
  padding: 30px 0;
  margin: 0 10px;
  background: #FFFFFF;
  border: 0.31348px solid #E5E5E5;
  box-shadow: 0px 1.25392px 7.21003px rgba(8, 20, 33, 0.04);
  border-radius: var(--border-radius-m);
}

/* all elements are visible */
.match > * {
  margin-bottom: 100px;
}

.match__title {
  margin-bottom: 12px;
}

.match__tags {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 12px;
}

.match__tag {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size-s);
  line-height: 150%;
  text-align: center;
  color: #0B0B0B;
  opacity: 0.5;
  background: #F3F3F3;
  border-radius: var(--border-radius-l);
  padding: 4px 8px;
}

.match__teams {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  margin-bottom: 12px;
  position: relative;
}

.match__team {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 0.55922px solid rgb(11, 11, 11, 0.05);
  display: flex;
  align-items: center;
  justify-content: center; 
}

.match__team img {
  width: 42px;
  height: 42px;
}

.match__status {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-s);
  line-height: 14px;
  color: #0B0B0B;
}

.match__vs {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-m);
  line-height: 14px;
  color: #0B0B0B;
  opacity: 0.05;
  display: none;
}

.match__score {
  display: flex;
  align-items: center;
  gap: 4px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size-s);
  line-height: 16px;
}

.match__score--left,
.match__score--right {
  display: block;
  width: 16px;
  height: 16px;
  background: rgba(11, 11, 11, 0.05);
  border: 0.44186px solid rgba(32, 32, 32, 0.05);
  border-radius: var(--border-radius-s);  
}

.match__status-message {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.match__announcement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 15px;
  /* display: none;  */
}

.match__forecast {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  gap: 3px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-s);
  line-height: 150.19%;
  text-align: center;
  color: #000000;
}

.match__forecast div {
  border-radius: var(--border-radius-s);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.match__forecast-title {
  align-items: center;
  background: #F3F3F3;
}

.match__forecast-item div {
  line-height: 20px;
}

.match__forecast-item > div:first-child {
  background: #F3F3F3;
}

.match__forecast-item > div:last-child {
  color: #FFFFFF;
  background: #292929;
}

.match__announcement-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-s);
  line-height: 150.19%;
  text-align: center;
  color: rgba(11, 11, 11, 0.5);
}

.match__line-ups {
  margin: 0 15px;
}

.match__line-ups table {
  margin: 0 auto;
  border-radius: var(--border-radius-m);
  overflow: hidden;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-s);
  line-height: 16px;
  text-align: left;
  color: #545454;
  white-space: nowrap;
  border-collapse: collapse;
  box-shadow: 0px 1.25392px 7.21003px rgba(8, 20, 33, 0.04);
  text-align: center;
}

.match__line-ups tr {
  display: grid;
  grid-template-columns: 100px 20px 50px 20px 100px;
}

.match__line-ups tr:nth-child(even) {
}

.match__line-ups tr:nth-child(odd) {
  background: #F3F3F3;
}

.match__line-ups td {
  padding: 0 10px;
  box-sizing: border-box;
}

.match__line-ups td:first-child {
  text-align: right;
}

.match__history {
  padding: 0 15px;
  max-width: 400px;
  margin: 0 auto;
}

.match__history-total {
  display: grid;
  grid-template-columns: 50px  100px 50px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  row-gap: 20px;

  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-s);
  line-height: 150.19%;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

.match__history-total span {
  color: #59C65D;
}

.match__history-table {
  width: 100%;
  border-spacing: 3px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 600;
  text-align: center;
  line-height: 150%;
}

.match__history-table caption, 
.match__history-table th {
  border-radius: var(--border-radius-s);
  font-size: var(--font-size-m);
  color: #FFFFFF;
  background: #292929;
}

.match__history-table td {
  font-size: var(--font-size-s);
  line-height: 150%;
}

.match__history-table td {
  color: #292929;
  background: #F3F3F3;
  border-radius: var(--border-radius-s);
}

.match__history-table span {
  color: #ff3b3b;
}

.match__stats {
  /* display: none; */
  max-width: 400px;
  margin: 0 auto;
  padding: 0 15px;

  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-m);
  line-height: 150%;
  text-align: center;
  color: #292929;
}

.match__stats-list {
  margin-bottom: 30px;
}

.match__stats-item {
  margin-bottom: 10px;
}

.match__stats-item-title {
  margin-bottom: 2px;
}

.match__stats-item-img {
  width: 100%;
  height: 16px;
  border-radius: 16px;
  background: #0053A0;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.match__stats-item-left {
}

.match__stats-item-right {
  
}

.match__stats-item-scale {
  /* transform: translateX(50%); */
  position: absolute;
  top: 0;
  background: #FF3B3B;
  width: 100%;
  height: 16px;
}

.match__stats-item-value {
  position: absolute;
  top: 0;
  width: 100%;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 10px;
  color: #fff;
}

.match__stats-best-players {
  display: flex;
  justify-content: center;
}

.match__timeline {
  /* display: none; */
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-s);
  line-height: 150%;
  color: #292929;
  width: 100%;
}

.match__timeline li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
}

.match__timeline li div:first-child,
.match__timeline li div:last-child {
  width: 120px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.match__timeline li div:first-child {
  display: flex;
  justify-content: end;
}


.match__timeline li div img {
  width: 10px;
  height: 10px;
}

.match__timeline--team1 div:last-child img {
  display: none;
}

.match__timeline--team2 div:first-child img {
  display: none;
}

.match__timeline-minutes {
  background: #F3F3F3;
  border-radius: var(--border-radius-s);
  width: 18px;
  line-height: 18px;
  font-size: var(--font-size-s);
  text-align: center;
}

.match__table {
  width: 100%;
}

.match__table h3 {
  width: 100%;
  background: rgba(0, 83, 160, 0.1);
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-xxl);
  line-height: 150%;
  text-align: left;
  text-transform: uppercase;
  color: #0053A0;
  opacity: 0.7;
  padding: 6px 7px;
  box-sizing: border-box;
}


.match__table table {
  padding: 0px 7px;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-m);
  line-height: 150%;
  text-align: center;
  color: #59C65D;
  width: 100%;
}

.match__table td:first-child {
  text-align: left;
}

.match__table td:first-child,
.match__table td:last-child {
  color: #0B0B0B;
  opacity: 0.7;
}

.match__table td:nth-child(6),
.match__table td:nth-child(7),
.match__table td:nth-child(11),
.match__table td:nth-child(13),
.match__table td:nth-child(16) {
  color: #FF3B3B;
}

@media screen and (min-width: 1260px) {
  .match {
    background-color: #fff;
    padding: 40px 18px;
    margin: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
  
  .match__title {
    margin-bottom: 30px;
  }
  
  .match__tags {
    gap: 5px;
    margin-bottom: 15px;
  }
  
  .match__tag {
    font-size: var(--font-size-m);
    padding: 4px 10px;
  }
  
  .match__teams {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
    margin-bottom: 20px;
  }
  
  .match__team {
    width: 100px;
    height: 100px;
  }
  
  .match__team img {
    width: 70px;
    height: 70px;
  }

  .match__status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: var(--font-size-m);
  }
  
  .match__status-message {
    position: static;
    text-align: center;
  }
 

  .match__vs {
    font-size: var(--font-size-xxxl);
  }
  
  .match__score {
    gap: 8px;
    font-size: var(--font-size-xxxl);
    line-height: 33px;
  }
  
  .match__score--left,
  .match__score--right {
    width: 33px;
    height: 33px;
    border: 1px solid rgba(32, 32, 32, 0.05);
    border-radius: var(--border-radius-l);  
  }
  
  .match__announcement {
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;
    /* display: none; */
  }
  
  .match__forecast {
    gap: 5px;
    font-size: var(--font-size-xl);
    margin-bottom: 20px;
    max-width: 470px;
    margin: 0 auto;
  }
  
  .match__forecast div {
    border-radius: var(--border-radius-m);
    gap: 5px;
  }
  
  .match__forecast-title {
    padding: 0 20px;
    white-space: nowrap;
  }
  
  .match__forecast-item div {
    line-height: 29px;
  }
  
  .match__announcement-text {
    max-width: 568px;
    margin: 0 auto;
    font-size: var(--font-size-xxl);
  }
  
  .match__line-ups table {
    max-width: 505px;
    margin: 0 auto;
    border-radius: var(--border-radius-l);
    font-size: var(--font-size-m);
    line-height: 28px;
  }
  
  .match__line-ups tr {
    display: grid;
    grid-template-columns: 150px 30px 1fr 30px 150px;
  }
  
  .match__history {
    /* display: none; */
    max-width: none;
    margin: inherit;
    padding: 0;
  }
  
  .match__history-total {
    grid-template-columns: 50px  210px 50px;
    font-size: var(--font-size-xxxl);
  }
    
  .match__history-table {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-spacing: 5px 5px;
  }
  
  .match__history-table caption, 
  .match__history-table th,
  .match__history-table td {
    font-size: var(--font-size-l);
    line-height: 26px;
    border-radius: var(--border-radius-m);
  }
  
  .match__history-table td {
    border-radius: var(--border-radius-m);
  }
  
  .match__stats {
    margin: inherit;
    padding: 0;
    max-width: none;
    font-size: var(--font-size-l);
  }
  
  .match__stats-list {
    margin-bottom: 30px;
  }
  
  .match__stats-item {
    margin-bottom: 10px;
    max-width: 500px;
    margin: 0 auto 20px;
  }
  
  .match__stats-item-title {
    margin-bottom: 5px;
  }
  
  .match__stats-item-img {
    height: 31px;
    border-radius: 31px;
  }
  
  .match__stats-item-scale {
    height: 31px;
  }
  
  .match__stats-item-value {
    height: 31px;
    padding: 0 20px;
  }
    
  .match__timeline {
    font-size: var(--font-size-xxl);
  }

  .match__timeline li {
    gap: 20px;
    margin-bottom: 10px;
  }

  .match__timeline li div:first-child,
  .match__timeline li div:last-child {
    width: 250px;
    gap: 6px;
  }

  .match__timeline li div img {
    width: 20px;
    height: 20px;
  }

  .match__timeline-minutes {
    border-radius: var(--border-radius-l);
    width: 31px;
    line-height: 31px;
    font-size: var(--font-size-xl);
  }
  
  .match__table {
    width: 100%;
    max-width: 737px;
    margin: 0 auto;
  }

  .match__table h3 {
    width: 100%;
    border-radius: var(--border-radius-l);
    font-size: var(--font-size-xl);
    padding: 18px;
    box-sizing: border-box;
  }

  .match__table table {
    padding: 0px 7px;
    font-size: var(--font-size-m);
  }
}
