.controls {
  display: flex;
  flex-wrap: wrap;
  /* flex:  1; */
  border: 1px solid red;
  /* width: 250px; */
  
  /* gap: 25px; */
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  container-type: inline-size;
}


/* .controls .green-zone {
} */

.controls__button {
  
  display: block;
  border: 1px solid red;
  /* flex-shrink: 1; */
  width: calc((100% - 100px) / 5);

}

.controls__button * {
  pointer-events: none;
}
.controls__title {
  border: 1px solid red;
}

.controls__image {
  /* height: 96px; */
  /* overflow: hidden; */
  font-size: 0.1em;
  font-size: 0.2cqmin;
}


@media screen and (min-width: 1260px) {
  .controls {
  }

  .controls__button {

  }
  
  .controls__title {
  
  }
  
  .controls__image {
    /* height: 250px; */
  }
}