@import url(../card-of-matches/card-of-matches.css);
@import url(./preview.css);
@import url(./swiper-matches.style.css);
@import url(../photo-of-match/photo-of-match.style.css);
@import url(../video-content/video-content.style.css);


.calendar-of-matches {
}

.calendar-of-matches__grid-container {
  display: block;
}

.calendar-of-matches__head {
  margin: 0 10px 10px;
}

.calendar-of-matches__head-nav {
  display: flex;
  gap: 2px;
  justify-content: space-between;
  margin: 0 10px 25px;
}

.calendar-of-matches__aside {
  margin-bottom: 30px;
}

.calendar-of-matches__dynamic-content {
  display: block;
}

.calendar-of-matches__button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 6px;
  color: #292929;
  padding: 3px 0;
  margin: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.calendar-of-matches__button {
  background-color: #fff;
}

.calendar-of-matches__button--past {
  background-color: #FFD018;
  border: 1px solid #FFD018;
}

.calendar-of-matches__button--current {
  background-color: #FF3B3B;
  border: 1px solid #FF3B3B;
  color: #fff;
}

.calendar-of-matches__button p {
  line-height: 150%;
  padding: 0;
  margin: 0;
}

.calendar-of-matches__button > p:first-child {
  font-weight: 400;
}

.calendar-of-matches__button > p:nth-child(2) {
  font-weight: 500;
}

@media screen and (min-width: 1260px) {
  .calendar-of-matches {
    max-width: 1440px;
    margin: 0 50px;
  }

  .calendar-of-matches__head {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .calendar-of-matches__head .title {
    margin-bottom: 0px;
    text-align: left;
    padding: 0;
  }

  .calendar-of-matches__head-nav {
    margin: 0;
  }

  .calendar-of-matches__aside {
    margin-bottom: 0px;
  }

  .calendar-of-matches__dynamic-content {
    padding: 40px;
  }  

  .calendar-of-matches__grid-container {
    display: grid;
    grid-template-columns: 303px 1fr;
    gap: 30px 27px;
  }

  .calendar-of-matches__title {
    justify-self: start;
    align-self: start;
  }

  .swiper-matches div.swiper-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .calendar-of-matches div.swiper-slide {
    height: auto;
  }


  .calendar-of-matches__head-nav {
    gap: 10px;
    margin-bottom: 0;
  }

  .calendar-of-matches__button {
    height: 70px;
    font-size: 14px;
    border-radius: 8px;
  }

  .calendar-of-matches__dynamic-content {
    position: relative;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 4px 23px rgba(8, 20, 33, 0.04);
    border-radius: 8px;
  }
}

@media screen and (min-width: 1540px) {
  .calendar-of-matches {
    max-width: 1440px;
    margin: 0 auto;
  }
}
