.preview {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 200px;
  border: 1px solid green;
}

.prewiew__teams {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  margin-bottom: 60px;
}

.prewiew__teams > span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #0B0B0B;
  opacity: 0.05;
}

.preview__team-logo {
  height: 120px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.05);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview__title {
  text-align: center;
  margin-bottom: 20px;
}

.preview__content {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(11, 11, 11, 0.5);
  text-align: center;
}