.green-zone {
  position: relative;
  font-size: 1em;
  width: 100%;
}

.green-zone__current {
  background: #55C95A;
  border-radius: var(--border-radius-l);
  margin: 0 auto;
  height: 100%;
  padding: 0 1em;

}

.green-zone__title {
  line-height: 4.875em;
}

.green-zone__players {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 1.667em;
  max-height: 100%;
  margin: 0 auto;
  width: fit-content;
  max-width: 100%;
}

.green-zone__footer-title {
  grid-column-start: 1;
  grid-column-end: 3;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  font-size: 1.750em;
  font-size: 1cqmin;
  line-height: 5.238em;
  width: 100%;
}

.green-zone__footer-title > img {
  height: 2.381em;
}

.green-zone__footer-title > h3 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}

@media screen and (min-width: 760px) {
  .green-zone__players {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .green-zone__footer-title {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}

@media screen and (min-width: 1260px) {
  .green-zone {
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .green-zone {
    margin: 0 auto;
    max-width: 1440px;  
  }
}

.controls .green-zone__current {
  padding-top: 6em;
}

.controls .green-zone__title {
  display: none;
}

.controls .green-zone__players {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.controls .green-zone__footer-title {
  grid-column-start: 1;
  grid-column-end: 5;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  font-size: 1.750em;
  line-height: 5.238em;
  width: 100%;
}